.navig {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navig a{
  font-size: 2vw;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main-blogs {
  background-color: rgba(222, 225, 251, 0.916);
  border-radius: 15px;
  padding: 10px;
  margin: 15px;
}
.main-homepage {
  border-radius: 15px;
  padding: 10px;
  margin: 15px;
}

.lan-learn-blog {
  background-color: palegoldenrod;
  border-radius: 15px;
  padding: 10px;
  margin: 15px;
}

.lear-env-blog {
  background-color:lightsalmon;
  border-radius: 15px;
  padding: 10px;
  margin: 15px;

}
.pers-ref-blog {
  background-color: cadetblue;
  border-radius: 15px;
  padding: 10px;
  margin: 15px;
}

h1 {
  background-color: rgba(176, 196, 222, 0.374);
  text-align: center;
  padding: 20px;
  font-size: 46px;
  font-weight: bolder;
  color: rgb(54, 52, 52);
  font-family: serif;
}

h2 {
  margin: 10px;
  text-align: center;
  border-radius: 7px;
}

h3 {
  font-size: 1.5vw;
  font-family: "Georgia" ;
  margin: 3px;
  color: rgb(44, 90, 215);
}

h4 {
  font-size: 2.5vw;
  font-family: "Times New Roman" ;
  margin: 3px;
  text-align: center;
}

body {
  background: linear-gradient( white ,steelblue);
  width: 100%;
  height: 100%;
  position:relative;
  margin: 0;
  padding: 0;
}

.navig a:hover {
  background-color: #ddd;
  color: black;
}

.column {
  display: flex;
  font-size: 1.1vw;
  padding: 20px;
}
.column_left {
  width: 70%;

}
.column_right {
  width: 30%;
  
}

.column_blogs {
  width:33.3%;
}

main {
  margin-top: 45px;
  background-image: url("clouds.jpg");
  background-size:cover;
  background-repeat: repeat-y;
  flex: 1;
  width: 60%;
  border-right: 2px blue;
  border-left:  2px blue;
}

header {
  width: 100%;
  background-color: lightsteelblue;
  text-align: center;
  font-size: 46px;
  font-weight: bolder;
  color: darkblue;
  font-family: "Arial Black", sans-serif;
  position: fixed;

}

.logo {
  position: absolute;
  left:0;
  width: 75px;
  border-radius: 100px;
  border-width: 5px;
}

#contact-img {
width: 300px;
float: right;
border-radius: 40px;
}

#home-img {
  width: 300px;
  border-radius: 80px;
  margin: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
footer {
  padding: 10px 0;
  height: 100px;
  background-color: rgb(130, 159, 178);
}
footer div {
  text-align:center;
  font-family: sans-serif;
  font-size: 12px;
}
.social-media {
  margin: 10px;
}
.social-media img{
  width: 25px;
}